.card-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.icon-card-mask {
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.card-hover:hover >.card-mask {
  opacity: 0.4;
  transition: 0.2s ease-in-out;
}
.card-hover:hover >.icon-card-mask {
  opacity: 1;
  transition: 0.2s ease-in-out;
}