.container-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.ant-pagination-item {
  border-radius: 0!important;
}
.slide-down-block {
  transition: all .5s ease-in-out;
  max-height: 100vh;
  overflow: hidden;
  will-change: transform;
}
.slide-down-none {
  transition: all .5s ease-in-out;
  max-height: 0;
  overflow: hidden;
  will-change: transform;
}
.ant-pagination-item-active {
  border: 1px solid black!important;
  background-color: black!important;
}
.ant-pagination .ant-pagination-item-active a {
  color: white!important;
}
:where(.css-dev-only-do-not-override-19iuou)[class*=" ant-layout"] {
  font-family: 'Montserrat', Helvetica Neue, Arial, sans-serif!important;
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=montserrat]::before, .ql-snow .ql-picker.ql-font .ql-picker-item[data-value=montserrat]::before {
  content: 'Monterrat'!important;
}
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=montserrat]::before {
    font-family: Montserrat, Helvetica Neue, Arial, sans-serif!important;
}
.ql-font-montserrat {
  font-family: 'Montserrat', Helvetica Neue, Arial, sans-serif!important;
}
.ql-size-small {
  font-size: 12px!important;
}
.ql-size-large {
  font-size: 18px!important;
}
.ql-size-huge {
  font-size: 32px!important;
}